<div class="container pt-5">
    <label for="rating">Find with Rating above: </label>
    <input type="number" id="rating" (change)="getAllByRating($event)" class="form-control">
    <div class="row pb-5 pt-5" *ngFor="let show of shows">
        <div class="col-4">
            <img src="{{show.image}}" alt="{{show.name}}" class="img-fluid">
        </div>
        <div class="col-8">
            <h2>{{show.name}}</h2>
            <p>{{show.summary}}</p>
            <p>Genre: {{show.genres}}</p>
            <p>Rating: {{show.rating}}</p>
            <p>Premiered: {{show.premiered}} - Ended: {{show.ended}}</p>
            <p>Average Runtime: {{show.runtime}}</p>

        </div>
    </div> 
</div>